doctype html
html
  head
    title #{title}
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
  body
    h1 test title
    h2 this is home page render with pug
